<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EMS</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeInsertController</display-name>
    <servlet-name>EmployeeInsertController</servlet-name>
    <servlet-class>com.vidvaan.controller.EmployeeInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInsertController</servlet-name>
    <url-pattern>/EmployeeInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllEmployeeController</display-name>
    <servlet-name>FindAllEmployeeController</servlet-name>
    <servlet-class>com.vidvaan.controller.FindAllEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllEmployeeController</servlet-name>
    <url-pattern>/FindAllEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDeleteController</display-name>
    <servlet-name>EmployeeDeleteController</servlet-name>
    <servlet-class>com.vidvaan.controller.EmployeeDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDeleteController</servlet-name>
    <url-pattern>/EmployeeDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdEmpController</display-name>
    <servlet-name>FindByIdEmpController</servlet-name>
    <servlet-class>com.vidvaan.controller.FindByIdEmpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdEmpController</servlet-name>
    <url-pattern>/FindByIdEmpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeUpdateController</display-name>
    <servlet-name>EmployeeUpdateController</servlet-name>
    <servlet-class>com.vidvaan.controller.EmployeeUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeUpdateController</servlet-name>
    <url-pattern>/EmployeeUpdateController</url-pattern>
  </servlet-mapping>
</web-app>